<!DOCTYPE html>
<html>
<head>
    <!-- This sets your page title. You can change this to whatever you want! -->
    <title>Aerospace jam control station</title>
    <!-- The below script tag is used to load socket.io from the server. -->
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='js/package/dist/chart.umd.js') }}"></script>
    <script src="../static/js/package/dist/chart.umd.js"></script>
</head>
<style>
    table, td, th{
        border: 1px solid black;
        border-collapse: collapse;
        padding: 3px;
    }
    tr{
        height: 33px;
        border: 1px solid black;
    }
</style>
<body>
    <h1 style="text-align: center">Control Station</h1>
    <!-- Notice how the span that contains the placeholder value has an ID. We reference this ID later in the script, and it lets us pick this element in specific. -->
    <!-- <p><b>Random number chosen by the Pi: </b> <span id="randomNumber">Loading...</span></p>
    <p><b>Barometric pressure: </b> <span id="barometricPressure">Loading...</span>hPa</p>
    <p><b>Distance: </b><span id="distance"> Loading...</span>cm</p> -->
    
    <button id="takePictureButton" style="position:absolute; left: 100px; top: 620px;">Take Picture</button> 
    <div style="height: 300px; width: 300px; border: 1px solid black; position:absolute; left: 100px; top: 300px;"><canvas id="Lidar"></canvas></div>
    <img id="cameraImage" src="" alt="Live from Pi!" style="width: 500px; height: 350px; border: 1px solid black; position:absolute; left: 450px; top: 200px;">
    <div style="height: 225px; width: 500px; border: 1px solid black; position:absolute; right: 50px; top: 5px;"><canvas id="elevation"></canvas></div>
    <table id="rawData" style="width: 32.55%;position:absolute; right: 50px; top: 250px;">
        <tr>
            <th>Raw Data</th>
            <th></th>
        </tr>
        <tr>
            <td>Barometric pressure</td>
            <td id="barometricPressure">Loading...</td>
        </tr>
        <tr>
            <td>Lidar Dist</td>
            <td id="dist">Loading...</td>
        </tr>
        <tr>
            <td>Lidar Temp</td>
            <td id="temp">Loading...</td>
        </tr>
        <tr>
            <td>Lidar Strength</td>
            <td id="strenght">Loading...</td>
        </tr>
        <tr>
            <td>Accelerometer X</td>
            <td id="aclX">Loading...</td>
        </tr>
        <tr>
            <td>Accelerometer Y</td>
            <td id="aclY">Loading...</td>
        </tr>
        <tr>
            <td>Accelerometer Z</td>
            <td id="aclZ">Loading...</td>
        </tr>
        <tr>
            <td>Gyro X</td>
            <td id="gyrX">Loading...</td>
        </tr>
        <tr>
            <td>Gyro Y</td>
            <td id="gyrY">Loading...</td>
        </tr>
        <tr>
            <td>Gyro Z</td>
            <td id="gyrZ">Loading...</td>
        </tr>
    </table>
    <div style="height: 250px; width: 250px; border: 1px solid black; position:absolute; left: 100px; top: 30px;"><canvas id="breadcrumb"></canvas></div>
    <p style="font-size: 50px; position:absolute; left: 450px; top: 75px;"> <span id="flightTime">0:00</span></p>
    <button id="resetTimer" style="width: 100px; height: 40px; position: absolute; top: 135px; left: 700px;">Reset Flight Timer</button>
    <button id="MotorUp" style="width: 400px; height: 50px; position: absolute; bottom: 80px; left: 550px;">Motor Up</button>
    <button id="MotorDown" style="width: 400px; height: 50px; position: absolute; bottom: 25px; left: 550px;">Motor Down</button>
    <button id="MotorStop" style="width: 95px; height: 105px; position: absolute; bottom: 25px; left: 450px;">Motor Stop</button>
    <button id="ClearBreadcrumb" style="width: 120px; height: 40px; position: absolute; left: 190px; top: 620px;">Reset Breadcrumb Trail</button>
    <p style="position: absolute; top: 20px; left: 450px;">Ping: <span id="ping">Loading...</span></p>
    <script>
        
        const elevationChart = document.getElementById('elevation');
        const breadcrumbChart = document.getElementById('breadcrumb');
        var barometricPressureSpan = document.getElementById('barometricPressure');
        var elevationPos = 0;
        var pingStart = 0;
        var pingStop = 0;
        var time = 0;

        var data = {
            labels: [],
            datasets: [{
                label: 'Elevation',
                data: [],
                tension: 0.1,
            }]
        };

        var breadData = {
            datasets: [{
                label: 'Positions',
                data: [{
                    x: 0,
                    y: 0
                },
                {
                    x: 3,
                    y: -2
                },
                {
                   x: 2,
                   y: 10 
                }],
                backgroundColor: 'rgb(255, 99, 132)'
            }],
        };

        var elevation = new Chart(elevationChart, {
            type: 'line',
            data: data,
            options: {
                scales: {
                    y: {
                        max: 10,
                        min: 0
                    }
                },
                animation: false
            }
        });

        var breadcrumb = new Chart(breadcrumbChart, {
            type: 'scatter',
            data: breadData,
            options: {
                scales: {
                    x: {
                        type: 'linear',
                        position: 'center',
                        min: -20,
                        max: 20
                    },
                    y: {
                        type: 'linear',
                        position: 'center',
                        min: -20,
                        max: 20
                    }
                },
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    }
                },
                animation: false
            }
        });

        function updateChart(x){
            data.labels.push(elevationPos);
            data.datasets[0].data.push(x);
            elevationPos++;
            elevation.update();
            if(data.labels.length > 50){
                data.labels.splice(0,1);
                data.datasets[0].data.splice(0,1);
            }
        }

        function updateBreadcrumbChart(xpos, ypos){
            breadData.datasets[0].data.push({x: xpos, y: ypos});
            breadcrumb.update();
        }

        function ClearBreadcrumbChart(){
            breadData.datasets[0].data = [];
            breadcrumb.update();
        }

        document.addEventListener('DOMContentLoaded', function(){
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('update_data', function(msg){
                var randomNumberSpan = document.getElementById('randomNumber');
                randomNumberSpan.textContent = msg.randomNumber;

                var barometricPressureSpan = document.getElementById('barometricPressure');
                barometricPressureSpan.textContent = msg.barometricPressure;
                var height = msg.height;
                updateChart(height);

                var dist = document.getElementById('dist');
                dist.textContent = msg.distance;
                var temp = document.getElementById('temp');
                temp.textContent = msg.temp;
                var strength = document.getElementById('strenght')
                strength.textContent = msg.strength;

                var aclX = document.getElementById('aclX');
                aclX.textContent = msg.aclX;
                var aclY = document.getElementById('aclY');
                aclY.textContent = msg.aclY;
                var aclZ = document.getElementById('aclZ');
                aclZ.textContent = msg.aclZ;

                var gyrX = document.getElementById('gyrX');
                gyrX.textContent = msg.gyrX;
                var gyrY = document.getElementById('gyrY');
                gyrY.textContent = msg.gyrY;
                var gyrZ = document.getElementById('gyrZ');
                gyrZ.textContent = msg.gyrZ;

                var posx = msg.positionX;
                var posy = msg.positionY;
                updateBreadcrumbChart(posx, posy);

                var timer = document.getElementById('flightTime');
                timer.textContent = msg.flightTime;

            });    

            console.log("we got here");
            var takePictureButton = document.getElementById('takePictureButton');
            var cameraImage = document.getElementById('cameraImage');
            var motorDownButton = document.getElementById('motorDown');
            var motorUpButton = document.getElementById('motorUp');
            var motorStopButton = document.getElementById('motorStop');
            var pingTime = document.getElementById('ping');
            var resetTimer = document.getElementById('resetTimer');
            var resetBreadcrumb = document.getElementById('ClearBreadcrumb');
    
            console.log("i got to here");
            resetBreadcrumb.addEventListener('click', function(){
                console.error("I GOT CLICKED");
                ClearBreadcrumbChart();
            });

            takePictureButton.addEventListener('click', function() {
                console.log('Requesting image from server...');
                socket.emit('request_image');
            });

            motorDownButton.addEventListener('click', function() {
                socket.emit('motor_forward');
            });

            motorUpButton.addEventListener('click', function() {
                socket.emit('motor_backward');
            });

            motorStopButton.addEventListener('click', function() {
                socket.emit('motor_stop');
            });

            resetTimer.addEventListener('click', function(){
                socket.emit('resetTimer');
            });
               
            socket.on('new_image', function(msg) {
                console.log('Received new image');
                cameraImage.src = 'data:image/jpeg;base64,' + msg.image_data;
            });

            socket.on('pong', function(){
                pingStop = performance.now();
                pingTime.textContent = pingStop - pingStart + " ms";
            });

            socket.on('timerUpdate', function(msg){
                var timer = document.getElementById('flightTime');
                timer.textContent = msg.flightTime;
            });
        });

        function ping(){
            pingStart = performance.now();
            socket.emit('ping');
        }

        setInterval(ping, 500);

        
    </script>
    </body>
    </html>
</body>
</html>
